<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <LayoutView Layout="typeof(Layout.MainLayout)">
                    <h1>Access denied</h1>
                    <p>You must sign in to view this page.</p>
                    <a class="btn btn-primary" href="/login">Go to login</a>
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
